<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/murat/IdeaProjects/SeleniumDragandDrop"><classes><class name="Tests.Actionclass"><methods><include name="dropAndDrag"/><include name="test2"/><include name="test3"/></methods></class></classes></test></suite>